@model IEnumerable<ZarzadzanieUczelnia.Models.UczenSzkoly>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Grupa.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indeks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataUrodzenia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Grupa.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indeks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataUrodzenia)
        </td>
        <td>
            @Html.ActionLink("Edycja", "Edit", new { id=item.UzytkownikID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.UzytkownikID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.UzytkownikID })
        </td>
    </tr>
}

</table>
