@model ZarzadzanieUczelnia.Models.Ocena

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ocena</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Przedmiot.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Przedmiot.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uczen.Indeks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uczen.Indeks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtrzymanaOcena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtrzymanaOcena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Komentarz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Komentarz)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.OcenaID }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
